<h1 class = "heading-text" >New Pattern</h1>
<div class = "basic-form-box">
  <%= render 'form', pattern: @pattern %>
  <div class = "links">
    <span class = "link"><%= link_to 'Home', patterns_path %></span>
  </div>
</div>
