/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "partials/*";

body {
    padding-top: 75px;
    font-family: 'EB Garamond', serif;
    font-size: 1.1em;
}

.navbar {
    background-color: $aqua;

}

.navbar-toggler {
    background-color: $blue;
}

.top-item {
    padding-left: 10px;
}

.sew-far-logo {
    font-size: 140px;
    font-family: 'Ruthie', cursive;
}

// pattern page styling
.basic-index-menu {
    text-align: center;
    border-bottom: solid $blue 2px;
}
.basic-index-link {
    padding: 10px;
}

.patterns-group-text {
    padding: 10px;
}

.patterns-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

.pattern-box {
    background-color: $pink;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    .pattern-thumb {
        // float: left;
        margin-right: 5px;
    }

    .pattern-details {
        list-style: none;

        .pattern-title {
            font-size: 1.3em;
        }
    }
}

// most views have this box
.basic-form-box {
      background-color: $pink;
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 20px;
}

