/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "partials/*";

body {
    padding-top: 75px;
    font-family: 'EB Garamond', serif;
    font-size: 1.1em;
    background-color: $white;
}

.navbar {
    background-color: $aqua;
    font-family: 'Roboto', sans-serif;

    .avatar {
        margin-right: 5px;
    }

    .navbar-toggler {
        background-color: $blue;
    }

    .top-item {
        padding-left: 20px;
    }
}



.sew-far-logo {
    font-size: 140px;
    font-family: 'Ruthie', cursive;
}


.basic-index-menu {
    text-align: center;
    border-bottom: solid $blue 3px;
    font-family: 'Roboto', sans-serif;
}

.basic-index-link {
    padding: 10px;
}

.heading-text {
    padding: 10px;
}

// pattern page styling
.patterns-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.pattern-box {
    background-color: $pink;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    padding: 10px;
    margin: 10px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);

    .pattern-details {
        list-style: none;

        .pattern-title {
            font-size: 1.3em;
        }
    }

}

.pattern_title {
    font-size: 1.3em;
}

// most views have this box
.basic-form-box {
    background-color: $pink;
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);

}

.links {
    margin-top: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    .link {
        margin: 5px;
    }
}
.sellers-index-container {
    background-color: $pink;
    max-width: 90%;
    margin: auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
    box-shadow: 10px 10px 5px 0px rgba(135, 135, 135, 1);
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .basic-form-box {
        max-width: 40%;

    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .basic-form-box {
        max-width: 50%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .basic-form-box {
        max-width: 60%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .basic-form-box {
        max-width: 70%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .basic-form-box {
        max-width: 80%;
    }
}